In [3]:
import pandas as pd
import numpy as np
import re
import datetime

In [8]:
test = [('90f22c1a;https://www.jones.com/', '99')]

In [10]:
pd.DataFrame(test,columns=['key', 'bytes'])

                               key bytes
0  90f22c1a;https://www.jones.com/    99

In [4]:
element = b'7a3b1d9f;Brian Harris;https://www.boyle.biz/;2020-09-20 10:36:11;13'

element = element.decode("utf-8")

user_id, user, url, date_time, bytes_used = element.split(sep=';')
keys = user_id + ';' + url

In [5]:
element = (keys, {'user': user,
              'date_time': date_time,
              'bytes_used': bytes_used})

In [9]:
datetime.datetime.strptime(element[1]['date_time'], "%Y-%m-%d %H:%M:%S")

datetime.datetime(2020, 9, 20, 10, 36, 11)

In [24]:
element[1]['date_time']

'2020-09-20 10:36:11'

In [16]:
ts = datetime.datetime.strptime(element['date_time'], "%Y-%m-%d %H:%M:%S")

In [10]:
datetime.now()

AttributeError: module 'datetime' has no attribute 'now'

In [18]:
ts.timestamp()

1600590971.0

In [7]:
string = string[1:]

In [8]:
string.split(sep=';')

["'7a3b1d9f",
 'Brian Harris',
 'https://www.boyle.biz/',
 '2020-09-20 10:36:11',
 "13'"]

In [2]:
string = 'Amy Sullivan~Female~20~ Westlake-OH-44145~2020-08-31'

string2 = re.sub(r'[\s*\/\s*]+', '-', string)

print (string)

Amy Sullivan~Female~20~ Westlake-OH-44145~2020-08-31

In [7]:
list1 = string.split(sep='~')

In [8]:
list1

['Amy Sullivan', 'Female', '20', ' Westlake-OH-44145', '2020-08-31']

In [9]:
','.join(list1)

'Amy Sullivan,Female,20, Westlake-OH-44145,2020-08-31'

In [6]:
element = 'Amy Sullivan,Female,20, Westlake-O H-44145,2020-08-31'
element = str(element)
element_list = element.split(sep=',')
if element_list[3][0] == " ":
    element_list[3] = element_list[3].strip(' ')
    
element_list[3] = element_list[3].replace('-', ',')
element_list[4] = element_list[4].replace('/', '-')

';'.join(element_list)

'Amy Sullivan;Female;20;Westlake,O H,44145;2020-08-31'

In [7]:
element

'Amy Sullivan,Female,20, Westlake-O H-44145,2020-08-31'

In [11]:
element.count(',')

4

In [16]:
element_list[3] = element_list[3].replace('/', '-')

In [21]:
element_list[3][0]

' '

In [22]:
test ="     sdfgdfgfdg"

In [23]:
test.strip(' ')

'sdfgdfgfdg'

In [ ]:
def split_entry(element):
    
    user = []
    
    
    element = str(element)
    element_list = element.split(sep=',')
    
    user = element_list[0]
    gender = element_list[1]
    age = element_list[2]
    address = element_list[3]
    date_joined = element_list[4]  
    
    return user, gender, age, address, date_joined

In [ ]:
def task_1(element):
    
    element = str(element)
    element_list = element.split(sep=',')
    
    user = element_list[0]
    gender = element_list[1]
    age = element_list[2]
    address = element_list[3]
    date_joined = element_list[4]  
    
    return user, gender, age, address, date_joined

In [3]:
element = 'Amy Sullivan,Female,20, Westlake-OH-44145,2020-08-31'

element = str(element)
element_list = element.split(sep=',')
user = element_list[0]
gender = element_list[1]
age = element_list[2]
address = element_list[3]
date_joined = element_list[4]

In [4]:
user

'Amy Sullivan'

In [18]:
test = 'Hicksville,NY,11801'
test.split(sep=',')
test.count(',')

2

In [45]:
element = ('Amy Sullivan', {'input_join_data_1': [{'gender': 'Female', 'age': '20', 'address': ' Westlake-OH-44145', 'date_joined': '2020/08/31'}], 'input_join_data_2': ['15000', '15100']})

In [46]:
test[1]['input_join_data_1'][0]['gender']

'Female'

In [47]:
len(test[1]['input_join_data_2'])

2

In [49]:
a = [1,2,3,4,4]

In [51]:
mean(a)

NameError: name 'mean' is not defined

In [65]:
users = pd.read_csv('users.csv')
orders = pd.read_csv('orders.csv')
orders.columns = ['Order', 'User']
orders['User'] = orders['User'].str.strip(' ')

In [66]:
merge_df = orders.merge(users, how='left', on='User')

In [109]:
for i in range(len(merge_df)):
    
    if merge_df.loc[i,'Age'] < 25: merge_df.loc[i,'age_bracket'] = '15-25'
    elif merge_df.loc[i,'Age'] < 35: merge_df.loc[i,'age_bracket'] = '25-35'
    elif merge_df.loc[i,'Age'] < 45: merge_df.loc[i,'age_bracket'] = '35-45'
    elif merge_df.loc[i,'Age'] <= 55: merge_df.loc[i,'age_bracket'] = '45-55'

In [110]:
merge_df[merge_df['age_bracket'] =='45-55'].groupby('User').count()['Order'].mean()

2.966666666666667

In [92]:
element = ('Natalie Ferguson', {'input_join_data_1': [{'gender': 'Female', 'age': '36', 'address': ' Chicago-IL-60621', 'date_joined': '2020/03/02'}], 'input_join_data_2': ['15097', '15197', '15254', '15281']})

In [88]:
age = int(element[1]['input_join_data_1'][0]['age'])

In [97]:
if int(element[1]['input_join_data_1'][0]['age']) < 25: element = ('15-25',len(element[1]['input_join_data_2']))
elif int(element[1]['input_join_data_1'][0]['age']) < 35: element = ('25-35', len(element[1]['input_join_data_2']))
elif int(element[1]['input_join_data_1'][0]['age']) < 45: element = ('35-45', len(element[1]['input_join_data_2']))
elif int(element[1]['input_join_data_1'][0]['age']) <= 55: element = ('45-55', len(element[1]['input_join_data_2']))

In [98]:
element

('35-45', 4)

In [96]:
len(element[1]['input_join_data_2'])

4